<div class="page-header">
  <span class="glyphicon glyphicon-list-alt"></span>
  <strong>Resultset</strong>
</div>

<section>
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Dataset</th>
          <th>Index</th>
          <th>Query</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @resultsets.each do |resultset| %>
          <tr>
            <td><%= rs_link_to_dataset(resultset) %></td>
            <td><%= rs_link_to_index(resultset) %></td>
            <td><%= resultset.query_preview %></td>
            <td>
              <%= link_to 'Show', resultset %>
              <%= link_to resultset, target: '_blank' do %>
                <span class="glyphicon glyphicon-new-window"></span>
              <% end %>
            </td>
            <td><%= link_to 'Destroy', resultset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12 text-center">
    <%= paginate @resultsets %>
  </div>
</section>
