<% if dataset.errors.any? %>
  <div class="form-group row">
    <div class="col-sm-12">
      <div class="alert alert-danger">
        <% dataset.errors.full_messages.each do |message| %>
          <%= message %><br/>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= form_with(model: dataset, local: true) do |form| %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= form.label :data, class: 'control-label' %>
      <%= input_file(form.method(:file_field), :data, id: :dataset_data, update: '#dataset_name,#dataset_index_name,#dataset_document_type') %>
    </div>
  </div>
  <% if dataset.persisted? %>
    <div class="form-group row">
      <div class="col-sm-12">
        <strong>Data preview</strong>
        <p>
          <%= ndjson_editor(dataset.preview, readonly: true) %>
        </p>
      </div>
    </div>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= form.label :name, class: 'control-label' %>
      <%= form.text_field :name, id: :dataset_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= form.label :index_name, class: 'control-label' %>
      <%= form.text_field :index_name, id: :dataset_index_name, class: 'form-control' %>
    </div>
  </div>
  <script type="text/javascript">
    $('#dataset_index_name').typeahead(
      {
        hint: false,
        highlight: true,
        minLength: 1
      },
      {
        source: function(q, cb) {
          var indices = [<%= raw Index.all.map {|i| %!"#{j(i.name)}"! }.join(',') %>];
          var matches = [];
          var substrRegex = new RegExp(q, 'i');

          $.each(indices, function(i, str) {
            if (substrRegex.test(str)) {
              matches.push(str);
            }
          });

          cb(matches);
        }
      }
    );
  </script>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= form.label :document_type, class: 'control-label' %>
      <%= form.text_field :document_type, id: :dataset_document_type, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
