<div class="page-header">
  <strong><%= @dataset.name %></strong>
</div>

<section>
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Index</th>
          <th>Document Type</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @dataset.name %></td>
          <td><%= dataset_link_to_index(@dataset) %></td>
          <td><%= @dataset.document_type %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-sm-12">
    <strong>Data preview</strong>
    <p>
      <%= ndjson_editor(@dataset.preview, readonly: true) %>
    </p>
  </div>
  <div class="col-sm-12">
    <%= button_to datasets_download_path, method: :post, class: 'btn btn-default' do %>
      <%= hidden_field_tag :id, @dataset.id %>
      Download
    <% end %>
  </div>
</section>

<section>
  <div class="col-sm-12">
    <%= link_to 'Import', datasets_import_path(id: @dataset.id), method: :post, data: { confirm: "Are you sure you want to import '#{@dataset.name}'?" } %> |
    <%= link_to 'Copy', datasets_copy_path(id: @dataset.id), method: :post %> |
    <%= link_to 'Edit', edit_dataset_path(@dataset) %> |
    <%= link_to 'Destroy', @dataset, method: :delete, data: { confirm: "Are you sure you want to destroy '#{@dataset.name}'?" } %> |
    <%= link_to 'Back', datasets_path %>
  </div>
</section>
